@model Storm.InterviewTest.Hearthstone.Core.Features.Cards.Models.CardModel
    <div class="form-group">

    <!-- style -->
    <style type="text/css" scoped>
        .Card {
            font-weight: bold;
        }
        .Free {
            color: silver;
        }
        .Common {
            color: slategray;
        }
        .Rare {
            color: blue;
        }
        .Epic {
            color: blueviolet;
        }
        .Legendary {
            color: coral;
        }
    </style>

    <!-- label and text -->
    <label class="form-control-static">@Html.DisplayNameFor(model => model.Rarity)</label>
    <abbr title="@Model.Rarity Card"
          class="@Model.Rarity Card"
          >@Html.DisplayFor(model => model.Rarity)</abbr>
    </div>


