@model Storm.InterviewTest.Hearthstone.Core.Features.Cards.Models.CardModel
<div class="form-group">
    <label class="form-control-static">@Html.DisplayNameFor(model => model.Rarity)</label>
    <input type="text" readonly="readonly" class="form-control" value="@Html.DisplayFor(model => model.Rarity)" />
</div>

